<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{% if page.title %}}{{ page.title }} | {{% endif %}}Wade Fagen-Ulmschneider</title>

    <meta property="og:title" content="{{ page.title }}">
    <meta name="twitter:title" content="{{ page.title }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary" />

    {% for author in page.author %}
    <meta name="author" content="Wade Fagen-Ulmschneider">
    {% endfor %}

    <meta name="description" content="{{ page.description | escape }}">
    <meta property="og:description" content="{{ page.description | escape }}">
    <meta name="twitter:description" content="{{ page.description | escape }}">

    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <link rel=”canonical” href="{{ page.url | absolute_url }}">

    <meta property="og:image" content="{{ page.social-img }}">
    <meta name="twitter:image" content="{{ page.social-img }}">
    
    <link rel="icon" type="image/png" href="/static/waf.png">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" crossorigin="anonymous">

    <link href="/static/css/waf.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid header header-content">
      <div class="container">
        <h1>
          <a href="https://waf.cs.illinois.edu/">Wade Fagen-Ulmschneider</a>
        </h1>
        <h2>Teaching Associate Professor, Computer Science</h2>
        <div style="font-size: 16px;">
          Connect with me: 
          <a href="https://twitter.com/profwade_" target="_blank"><i class="ion-social-twitter"></i></a>
          &middot;
          <a href="https://www.linkedin.com/in/profwade" target="_blank"><i class="ion-social-linkedin"></i></a>
          &middot;
          <a href="https://instagram.com/profwade" target="_blank"><i class="ion-social-instagram"></i></a>
          &middot;
          <a href="https://www.facebook.com/fagen" target="_blank"><i class="ion-social-facebook"></i></a>
          &middot;
          <a href="https://github.com/wadefagen" target="_blank"><i class="ion-social-github"></i></a>
        </div>
      </div>
    </div>
    
    {{content}}

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-67232409-1', 'auto');
    ga('send', 'pageview');
    </script>      
  </body>
</html>