---
layout: min
---

<div class="container-fluid header header-content">
  <div class="container">
    <img style="height: 90px; float: right; position: relative; top: -5px;" src="/static/kno2.png">
    <h1>
      <a href="https://waf.cs.illinois.edu/">Wade Fagen-Ulmschneider</a>
    </h1>
    <h2>Teaching Professor, Computer Science</h2>
    <div style="font-size: 16px;">
      Follow: 
      <a href="https://www.linkedin.com/in/profwade" target="_blank"><i class="ion-social-linkedin mr-1"></i>profwade</a>
      &middot;
      <a href="https://github.com/wadefagen" target="_blank"><i class="ion-social-github mr-1"></i>wadefagen</a>
      &middot;
      <a href="https://twitter.com/profwade_" target="_blank"><i class="ion-social-twitter mr-1"></i>@profwade_</a>
    </div>
  </div>
</div>

{{content}}
