---
layout: bare
---
<div class="container-fluid header-content">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">waf.cs</a></li>


        {% if page.collection %}
        {% if page.base == false %}
        <li class="breadcrumb-item"><a href="/{{ page.collection }}/">{{ page.collection | capitalize }}</a></li>
        {% endif %}
        {% endif %}

        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
  </div>
</div>


<div class="container content">
  {{ content }}
</div>

<div class="container-fluid footer header-content">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">waf.cs</a></li>

        {% if page.collection %}
        <li class="breadcrumb-item"><a href="/{{ page.collection }}/">{{ page.collection | capitalize }}</a></li>
        {% endif %}

        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
      </ol>
    </nav>
  </div>
</div>
