<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}Wade Fagen-Ulmschneider</title>

    <meta property="og:title" content="{{ page.title }}">
    <meta name="twitter:title" content="{{ page.title }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary" />

    {% for author in page.author %}
    <meta name="author" content="{{author}}">{% endfor %}

    <meta name="description" content="{{ page.description | escape }}">
    <meta property="og:description" content="{{ page.description | escape }}">
    <meta name="twitter:description" content="{{ page.description | escape }}">

    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <link rel=”canonical” href="{{ page.url | absolute_url }}">

    {% if page.social-img %}
    <meta property="og:image" content="{{ page.social-img }}">
    <meta name="twitter:image" content="{{ page.social-img }}">
    {% endif %}
    
    <link rel="icon" type="image/png" href="/static/waf.png">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <link href="/static/css/waf.css" rel="stylesheet">
  </head>

  <body>
    {{content}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67232409-1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-67232409-1');</script>
  </body>
</html>