---
layout: min
---
<div class="container-fluid header-content">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">waf.cs</a></li>
        <li class="breadcrumb-item"><a href="{{ page.parentURL }}">{{ page.parentName }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page.shortTitle }}</li>
      </ol>
    </nav>
  </div>
</div>


<div class="container content">
  {{ content }}
</div>

<!--
<div class="container-fluid footer header-content">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">waf.cs</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
      </ol>
    </nav>
  </div>
</div>
-->